@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
 --primaryColor: white;
 --cardColor: white;
 --cardWidth: ;
 --secondaryColor: #e7e7e7;
 --headingColor:  #303030;
 --mainWhite: white;

 --mainTransition: 0.3s;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h2 {
 font-family: 'Kumbh Sans', sans-serif;
 font-size: 1.5em;
 color: #303030;
}
h3 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    color: var(--headingColor);
}
h4 {
 font-family: 'Kumbh Sans', sans-serif;
 font-weight: 700;
 color: #444444;
}
h5 {
    
}
.fas {
    cursor: pointer;
}

.btn {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.6em;
    background: #005dae;
    border: 1px solid #005dae;
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    cursor: pointer;
    text-decoration: none;
    width: 50%;
    height: 4rem;
    text-transform: uppercase;
    transition: var(--mainTransition);
}
.btn:hover {
color: var(--headingColor);
background: white;
transition: var(--mainTransition);
}


/* Beginning of navigation bar */
.navBar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    height: auto;
    min-height: 2.5rem;
    background: white;
    border: solid 1px black;
    z-index: 2;
    align-items: center;
    overflow: hidden;
    
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1rem;
}
.nav-links-item {
    margin-left: 2rem;
    margin-right: 2rem;
}
.nav-mobile-icon {
    display: none;
}
#close-nav-icon {
    display: none;
}
/* Mobile Device Navigation Bar */
@media screen and (max-width: 1000px) {
    .nav-links a:not(:first-child) {display: none;}
    .nav-mobile-icon { display: block;}

    .navBar.responsive {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: initial;
        height: auto;
        min-height: 30vh;
    }
/* Links expand to width of their container. Unsure why, fix later. */
    .navBar.responsive .nav-links {
        width: 100%;
        flex-direction: column;
        padding: 1rem;
        position: relative;
    }
    .navBar.responsive .nav-links a {
        margin-top: 1rem;
        display: inline-block;
        background: orange;
    }
    .navBar.responsive .nav-mobile-icon { display: none;}
    .navBar.responsive #close-nav-icon {
        display: initial;
        position: absolute;
        top: 1rem;
        right: 0;
    }
    .navBar.responsive :not(:first-child) {display: none;}
    
}

.nav-icons-item {
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.navBar a {
    text-decoration: none;
    color: var(--headingColor);
}
/* End of navigation */

/* Start of cart */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 3;
    visibility: hidden;
}
.show-cart-overlay {
    visibility: visible;

}
#openCartBtn {
    position: relative;
}
#cart-number-of-items {
    border-radius: 5px;
    padding: 0 3px 0 3px;
    position: absolute;
    top: -11px;
    right: -11px;
    background: white;
    border: 1px solid black;
}

#closeCartBtn {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: var(--mainWhite);
    padding: 1rem;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 4;

    display: flex;
    flex-direction: column;
    overflow: scroll;

}
.showCart {
    transform: translateX(0%);
    transition: 0.3s;
}
@media screen and (min-width: 768px) {
    .cart {
      width: 20vw;
      min-width: 520px;
    }
}
#cart-contents {
    width: 100%;
    margin-bottom: 4rem;
}
/* Cart items */

.cart-item-container {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgb(197, 197, 197);
}
.cart-item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr;
    align-items: center;
}
.cart-item img {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.cart-item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.cart-item-operations {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    opacity: 75%;
    
}

.cart-item-price {
    margin-left: auto;
    margin-right: 0px;
}
.cart-item-icons {
    display: flex;
    justify-content: flex-end;
    opacity: 75%;
}

/* End of cart items */

/* Cart Totals */
.cart-totals-container {
    margin-bottom: 2rem;
    margin-top: auto;
}
.cart-totals-child-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

#cart-checkout-btn {
    width: 100%;
    min-height: 4rem;
}


/* End of cart */


.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* Beginning of item listings*/
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.cardsContainer-item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 0rem) {
    .cardsContainer-item {
        width: 100%;
    }
}
@media (min-width: 300px) {
    
    .cardsContainer-item {
        width: 50%;
    }
    .cardImgContainer {
        height: 5rem;
    }
}
@media (min-width: 80rem) {
    .cardsContainer-item {
        width: 33%;
    }
}



 .productCard {
    background: white;
    border-radius: 0.25rem;
    box-shadow: -1px 10px 19px 6px rgba(204,204,204,0.63);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
 }
 .cardContents {
    transform: translateY(4rem);
    transition: 0.2s;
 }

 .productCard:hover .cardContents {
     transform: translateY(0rem);
     transition: 0.2s;
 }

 .cardImgContainer {
     display: flex;
     justify-content: center;
     height: 15rem;
     
 }
 .cardImgContainer img {
     width: 80%;
     height: 80%;
     object-fit: contain;
 }
 .titleContainer {
     height: 6rem;
     padding: 1rem;
     display: flex;
     justify-content: center;
 }
 .slideUp {
     padding-left: 5%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background: var(--secondaryColor);
 }
/* End of item listings*/
